sentence-transformers
transformers
scikit-learn
datasets
attrs
beautifulsoup4
boto3
bs4
DateTime
dateparser
feedparser
lxml
numpy
pandas
python-dateutil
pytrends
pygithub
pytz
python-dotenv
rapidfuzz
requests
selenium
simplejson
urllib3